<div
  class="d-flex justify-content-center align-items-center flex-column gap-3 w-100 p-3"
>
  <div
    class="title container d-flex justify-content-center align-items-center flex-column w-100 p-3 gap-3"
  >
    <h1>Культурна спадщина Карпат: що оглянути під час відпочинку?</h1>
    <p>
      Величні, мальовничі Карпати відомі не лише своєю природною красою, але й
      багатою культурною спадщиною. Ці гори зберігають в собі багато спогадів і
      таємниць, які відображені у місцевій архітектурі, традиціях, кухні та
      мистецтві. Відвідуючи Карпати, мандрівники отримують можливість зануритися
      в багату історію цього регіону і насолодитися унікальними культурними
      пам’ятками.
    </p>
    <div class="container">
      <img class="img-fluid" src="../../assets/images/mountain.gif" alt="gif">
    </div>
    <h1>Найцікавіші культурні об’єкти</h1>
    <p>
      Перед тим, як ми вирушимо у мандрівку Карпатами, важливо зазначити, що
      найкращим часом для огляду пам’яток є тепла пора року, коли можна з
      задоволенням відвідувати цікаві локації. До того ж радимо обрати затишний
      готель зі спа і поєднати відпочинок в Карпатах з басейном, лазнями та
      масажем.
    </p>
    <p>Отже, переходимо до найцікавіших культурних пам’яток Карпат.</p>
  </div>
  <app-container [data]="data"></app-container>
</div>
