<div
  class="d-flex justify-content-center align-items-center flex-column gap-3 w-100 p-3"
>
  <div
    class="title container d-flex justify-content-center align-items-center flex-column w-100 p-3 gap-3"
  >
    <h1>Місця для відпочинку в Карпатах</h1>
    <p>
      Карпати ваблять своєю недоторканістю, чарують своєю красою, сповнюють
      легені чистим повітрям та допомагають людині по-новому глянути на
      навколишній світ. Тут дихається вільно, а чисте небо спонукає до глибокого
      духовного очищення. Якщо десь на землі й існує рай, то тут про це знають
      все. Смарагдові ліси переливаються усіма відтінками зеленого, озера манять
      кристальною водою, сходить сонце наповнюючи рожевим світлом усе довкола.
      Саме у Карпатах можна по-справжньому поєднатися з природою, спостерігаючи
      за найменшими її коливаннями. Говорять, що у Карпатських лісах живе
      древній дух, а самі гори населяють мавки та інші істоти. Настільки це
      правда – не знає ніхто. Однак, з упевненістю стверджуємо, що є у Карпатах
      дещо містичне. Воно заховане у деталях. Наприклад, дивишся зранку на
      павутинку вкриту росою й освітлену ранковим сонячним промінням, й
      розумієш, що краса справді врятує світ. Здається, що небо у Карпатах
      надзвичайно близьке до мандрівника, що варто лише підстрибнути й зачерпнеш
      у долоні пухких хмаринок. У Карпатах легко забуваєш про себе й поринаєш у
      світ природи. У цій статті підібрано місця, котрі варто відвідати
      насамперед. Звичайно, що з часом мандрівник розширяє свою географію
      мандрівок Карпатами, але відразу побувати всюди відразу ще не вдавалося
      нікому.
    </p>
  </div>
  <app-container [data]="data"></app-container>
</div>
