<div
  class="d-flex justify-content-center align-items-center flex-column gap-3 w-100 p-3"
>
  <div
    class="title container d-flex justify-content-center align-items-center flex-column w-100 p-3 gap-3"
  >
    <h1>Найвищі вершини Українських Карпат</h1>
    <p>
      Карпатські гори надають унікальності Закарпаттю, приваблюючи своєю красою
      та величчю тисячі людей. Кожен день перебування у Карпатських горах є
      насиченим та сповненим нових вражень, особливо для містян, яким виїзд на
      природу здається справжньою подією. Багато вершин Карпат чудово підходять
      для одно-дводенних сходжень. І для любителів гірської природи Карпати –
      найкращий вибір для відпочинку. Навесні тут рясно цвітуть шафран і
      рододендрон, влітку схили покриває яскрава зелень, восени – золотий килим.
      То ж запрошуємо вас у дивовижний світ Українських Карпат. Відкриває наш
      перелік найвища вершина...
    </p>
  </div>
  <app-container [data]="data"></app-container>
</div>
